@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

a {
    text-decoration: none;
    color: white;
    font-family: 'Kaisei Decol', serif;
}

.container {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
    
}

.list_inner {
    text-align: center;
    margin-top: 60px;
}

.list_inner > span {
    font-size: 28px;
    border: black solid 2px;
    padding: 10px;
}

.list > p {
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    font-size: 50px;

    border-top: black dashed 2px;
    border-bottom: black dashed 2px;
}